@{
    ViewData["Title"] = "Contact";
}



<main role="main" class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="starter-template">
        <form>
            <div class="form-group">
                @*<p>Contact Information</p>*@
                <label for="exampleFormControlInput1">Phone</label>
                <label>12111313131</label>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput2">Location</label>
                <label>xxxxxxxxx, xxxxxxxxxxxxxx, xxxxxxxx</label>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput3">Email address</label>
                <label>xxxx@xxxxx.com</label>
            </div>
        </form>

    </div>
</main>