@{
    ViewData["Title"] = "Welcome to WAD - CA1";
}
<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">The strategic content management system to power ALL your digital experiences.</p>
    <hr class="my-4">
    <p>Discover Our CMS System</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="About" role="button">Learn more</a>
</div>