@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WAD - CA1</h1>
    <h2>
        Discover Our CMS System

     </h2>

    <h4> The strategic content management system to power ALL your digital experiences.</h4>
</div>
