@{
    ViewData["Title"] = "Mission";
}
<h1>@ViewData["Title"]</h1>

<h3>Description</h3>
<p>Our Company is an enterprise data company that analyses data and makes it easy for your
    business to better understand your target market and create products that are suitable for you.</p>
