@{
    ViewData["Title"] = "Mission";
}
<main role="main" class="container">

    <div class="starter-template">
        <h1>@ViewData["Title"]</h1>
        <p class="lead ">is an Internet and media company that provides app developers and online publishers with technology based services and data-driven solutions to enhance their applications and content.</p>
    </div>

</main>