@{
    ViewData["Title"] = "Products Upload";
}

@section Scripts {
    <script src="~/js/productsUpload.js" asp-append-version="true"></script>
}

<div class="text-center">
    <h1 class="display-4">Products Upload</h1>

    <form sp-controller="ProductsUpload" asp-action="UploadFile" onsubmit="AJAXSubmit(this);return false;" method="post"
          enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
    </form>
    <br />

    <div id="errorResult">
        <div id="errorMessageDiv" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
        </div>
        <div id="successMessageDiv" class="alert alert-success alert-dismissible fade show" role="alert" hidden>
        </div>
        <div id="errorTable" class="table-responsive">
        </div>
    </div>
</div>

