@{
    ViewData["Title"] = "Products Upload";
}

@section Scripts {
    <script src="~/js/productsUpload.js" asp-append-version="true"></script>
}

<h1>Products Upload</h1>

<div class="text-center">
    <br />

    <form class="form-inline" sp-controller="ProductsUpload" asp-action="UploadFile" onsubmit="AJAXSubmit(this);return false;" method="post" enctype="multipart/form-data">
        <div class="form-group mb-2 col-6">
            <div class="custom-file">
                <input type="file" class="custom-file-input col-sm-2" id="customFile" name="file">
                <label id="customFileLabel" class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <div class="form-group mb-2 col-6">
            <button type="submit" class="btn btn-primary">Upload File</button>
        </div>
    </form>
    <br />

    <div id="errorResult">
        <div id="errorMessageDiv" class="alert alert-danger alert-dismissible fade show" role="alert" hidden>
        </div>
        <div id="successMessageDiv" class="alert alert-success alert-dismissible fade show" role="alert" hidden>
        </div>
        <div id="errorTableDiv" class="table-responsive">
        </div>
    </div>
</div>

